# editor config
.vscode

# don't include project 'prefix' folders 
bin/
lib/
share/
python/

# dynamically generated
MANIFEST.in

# don't include cython-generated cpp
src/cyfaust/interp.cpp
src/cyfaust/common.cpp
src/cyfaust/box.cpp
src/cyfaust/signal.cpp
src/static/cyfaust/cyfaust.cpp

# general macos detritus
.DS_Store


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
sdist/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

*.log
log.txt

# Sphinx documentation
docs/_build/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# cache
.mypy_cache/
.ruff_cache/


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app
