
# build requirements
cython

# testing tools (optional)
pytest

# macos fix wheel tool
delocate; sys_platform == 'darwin'

# macos fix wheel tool
auditwheel; sys_platform == 'linux'

# windows fix wheel tool
delvewheel; sys_platform == 'win32'

# wheel building and testing
wheel
virtualenv
