
name: cyfaust-test

on:
  workflow_dispatch:
    inputs:
      variant:
        type: choice
        description: Please select a build variant
        default: dynamic
        required: true
        options:
          - dynamic
          - static
      py_version:
        type: choice
        description: Please select a python version
        default: '3.11'
        required: true
        options:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
      os:
        type: choice
        description: Please select os
        default: 'macos-latest'
        required: true
        options:
          - macos-latest
          - macos-14
          - macos-13
          - ubuntu-latest
          - ubuntu-24.04
          - ubuntu-22.04
          - windows-latest
          - windows-2022
          - windows-2019
      disable_cache:
        type: boolean
        description: Disable use of cached libfaust in this run
        required: true
        default: false

run-name: cyfaust-test-${{ github.event.inputs.os }}-${{ github.event.inputs.py_version }}-${{ github.event.inputs.variant }}

jobs:
  build:
    env:
      MACOSX_DEPLOYMENT_TARGET: '10.13'

    runs-on: ${{ github.event.inputs.os }}

    steps:

    - name: Summarize run options
      run: |
          echo "cyfaust-test run summary:" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "- build-variant: ${{ github.event.inputs.variant }}" >> $GITHUB_STEP_SUMMARY
          echo "- py-version: ${{ github.event.inputs.py_version }}" >> $GITHUB_STEP_SUMMARY
          echo "- os: ${{ github.event.inputs.os }}" >> $GITHUB_STEP_SUMMARY

    - uses: actions/checkout@v4
      with:
        submodules: true
        fetch-depth: '1'

    - name: Cache libfaust
      id: cache-libfaust
      uses: actions/cache@v4
      with:
        path: |
          ${{ github.workspace }}/lib/libfaust.*
          ${{ github.workspace }}/lib/faust.*
          ${{ github.workspace }}/lib/static/libfaust.*
        key: ${{ runner.os }}-libfaust

    - name: Setup python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ github.event.inputs.py_version }}

    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        version: "latest"

    - name: Display python version
      run: python3 --version

    - name: Setup faust
      if: |
        steps.cache-libfaust.outputs.cache-hit != 'true'
        || github.event.inputs.disable_cache == 'true'
      run: python3 scripts/manage.py setup --faust

    - name: Build dynamic cyfaust variant
      if: github.event.inputs.variant == 'dynamic'
      run: |
        echo "building dynamic cyfaust variant"
        uv sync

    - name: Build static cyfaust variant
      if: github.event.inputs.variant == 'static'
      env:
        CMAKE_ARGS: "-DSTATIC=ON"
      run: |
        echo "building static cyfaust variant"
        uv sync

    - name: Test cyfaust
      run: uv run pytest -vv tests

    - name: Build wheel (dynamic)
      if: github.event.inputs.variant == 'dynamic'
      run: uv build --wheel

    - name: Build wheel (static)
      if: github.event.inputs.variant == 'static'
      env:
        CMAKE_ARGS: "-DSTATIC=ON"
      run: uv build --wheel

    - uses: actions/upload-artifact@v4
      with:
        name: cyfaust-${{ github.event.inputs.variant }}-${{ github.event.inputs.os }}-py${{ github.event.inputs.py_version }}
        path: ./dist/*.whl
