
name: cyfaust-test-all

on:
  workflow_dispatch:
    inputs:
      py_version:
        type: choice
        description: Please select a python version
        default: '3.11'
        required: true
        options:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'

run-name: cyfaust-test-all-${{ github.event.inputs.py_version }}

jobs:
  test_cyfaust:
    name: Build python cyfaust ${{ matrix.variant }}-${{ github.event.inputs.py_version }}-${{ matrix.os }} wheel
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]  # windows-latest disabled until sndfile support added
        variant: [dynamic, static]

    steps:

    - uses: actions/checkout@v4
      with:
        submodules: true
        fetch-depth: '1'

    - name: Cache libfaust
      id: cache-libfaust
      uses: actions/cache@v4
      with:
        path: |
          ${{ github.workspace }}/lib/libfaust.*
          ${{ github.workspace }}/lib/faust.*
          ${{ github.workspace }}/lib/static/libfaust.*
        key: ${{ runner.os }}-libfaust

    - name: Setup python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ github.event.inputs.py_version }}

    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        version: "latest"

    - name: Display python version
      run: python3 --version

    - name: Set macOS deployment target
      if: runner.os == 'macOS'
      run: |
        if [[ "$(uname -m)" == "arm64" ]]; then
          echo "MACOSX_DEPLOYMENT_TARGET=11.0" >> $GITHUB_ENV
        else
          echo "MACOSX_DEPLOYMENT_TARGET=10.13" >> $GITHUB_ENV
        fi

    - name: Install audio libraries (macOS)
      if: runner.os == 'macOS'
      run: brew install libsndfile libsamplerate

    - name: Install audio libraries (Linux)
      if: runner.os == 'Linux'
      run: sudo apt-get update && sudo apt-get install -y libsndfile1-dev libsamplerate0-dev libasound2-dev

    - name: Setup faust
      if: steps.cache-libfaust.outputs.cache-hit != 'true'
      run: python3 scripts/manage.py setup --faust

    - name: Build dynamic cyfaust variant
      if: matrix.variant == 'dynamic'
      env:
        CMAKE_ARGS: "-DSTATIC=OFF"
      run: |
        echo "building dynamic cyfaust variant"
        uv sync

    - name: Build static cyfaust variant
      if: matrix.variant == 'static'
      env:
        CMAKE_ARGS: "-DSTATIC=ON"
      run: |
        echo "building static cyfaust variant"
        uv sync

    - name: Test cyfaust
      run: uv run pytest -vv tests
